@charset "UTF-8";

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*Обнуление*/

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Inter", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Inter", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.select {
  position: relative;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0px 30px 0px 0px;
}

.select[data-state=active] .select__title::after {
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
}

.select[data-state=active] .select__content {
  opacity: 1;
  visibility: visible;
}

.select[data-state=active] .select__label + .select__input + .select__label {
  max-height: 40px;
  border-top-width: 1px;
}

.select__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.select__title img {
  width: 24px;
  height: 24px;
  margin: 0px 0px 0px 4px;
  -o-object-fit: contain;
     object-fit: contain;
}

.select__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 6px;
  height: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: url("../img/svg/arrow-down.svg") center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.select__content {
  position: relative;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 8;
}

.select__main {
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.select__input {
  display: none;
}

.select__input:checked + label {
  pointer-events: none;
  background-color: #F5443B;
  color: #fff;
}

.select__input:disabled + label {
  opacity: 0.6;
  pointer-events: none;
}

.select__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
  font-size: 14px;
  min-height: 40px;
  max-height: 0;
  padding: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.burger {
  display: none;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 10px;
}

.header._scroll .header__wrapper {
  height: 60px;
  background: rgba(31, 33, 67, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header__wrapper {
  position: fixed;
  height: 80px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 82px;
          flex: 0 0 82px;
  height: auto;
}

.header__logo img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0px 10px 0px 150px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list li:not(:last-child) {
  margin: 0px 44px 0px 0px;
}

.header__link {
  font-size: 14px;
  color: #A2A3AF;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  height: 41px;
  padding: 0 32px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F5443B;
  border-radius: 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero {
  min-height: 100vh;
  padding-top: 210px;
  padding-bottom: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero__container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hero__main {
  position: relative;
  z-index: 2;
  max-width: 506px;
}

.hero__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 130%;
  letter-spacing: -0.01em;
  color: #D1D1D7;
  margin: 0px 0px 25px 0px;
}

.hero__descr {
  font-size: 18px;
  line-height: 150%;
  color: #747486;
  margin: 0px 0px 55px 0px;
}

.hero__search {
  width: 100%;
  height: 68px;
  position: relative;
  background: #1F2143;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  margin: 0px 0px 50px 0px;
  padding: 12px;
}

.hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.hero__item {
  color: #66678F;
  font-size: 14px;
  padding: 0 10px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #66678F;
  border-radius: 8px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.hero__item:not(:last-child) {
  margin: 0px 10px 0px 0px;
}

.hero__scroll {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  overflow: auto;
}

.hero__scroll::-webkit-scrollbar {
  height: 4px;
}

.hero__scroll::-webkit-scrollbar-thumb {
  background: #171836;
  border-radius: 10px;
}

.hero__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 60%;
  height: 100%;
  padding: 0px 0px 0px 20px;
  color: #747486;
  font-size: 16px;
  background: transparent;
}

.hero__input:focus {
  color: #D1D1D7;
}

.hero__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  height: 44px;
  margin: 0px 0px 0px 12px;
  background: #282B57;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__btn svg {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: #9A9CCB;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero__bg {
  position: absolute;
  width: 57%;
  height: 90%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-position: center left;
  background-size: contain;
}

.suggestions-hero__title {
  font-size: 18px;
  color: #747486;
  margin: 0px 0px 35px 0px;
}

.suggestions-hero__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -26px -24px 0px;
}

.suggestions-hero__item {
  color: #66678F;
  font-size: 14px;
  padding: 0 18px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #66678F;
  border-radius: 8px;
  margin: 0px 24px 24px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 100px;
}

.benefits__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefits__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65px;
          flex: 0 0 65px;
  height: 65px;
}

.benefits__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.benefits__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 18px 0px 0px 18px;
}

.benefits__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #B9BAC3;
  margin: 0px 0px 20px 0px;
}

.benefits__descr {
  font-size: 14px;
  line-height: 170%;
  color: #A2A3AF;
}

._container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #171836;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: #171836;
}

body::-webkit-scrollbar-thumb {
  background: #1F2143;
  border-radius: 4px;
  border: 3px solid #171836;
}

body._lock {
  overflow: hidden;
}

@media (max-width: 1212px) {
  .select {
    margin: 0px 15px 0px 0px;
  }

  .header__nav {
    padding-left: 100px;
  }

  .hero__bg {
    width: 50%;
  }

  .benefits__text {
    margin: 18px 0px 0px 10px;
  }

  .benefits__title {
    font-size: 18px;
  }

  .benefits__descr {
    font-size: 12px;
  }

  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1200px) {
  .hero {
    padding-top: calc(100px + 110 * ((100vw - 320px) / 880));
  }

  .hero {
    padding-bottom: calc(20px + 190 * ((100vw - 320px) / 880));
  }

  .benefits {
    padding-top: calc(30px + 90 * ((100vw - 320px) / 880));
  }

  .benefits {
    padding-bottom: calc(60px + 40 * ((100vw - 320px) / 880));
  }
}

@media (max-width: 991.98px) {
  .select {
    height: 40px;
    margin: 0px 10px 0px 0px;
  }

  .select__title img {
    width: 20px;
    height: 20px;
  }

  .header__nav {
    padding-left: 30px;
  }

  .header__btn {
    padding: 0 25px;
    height: 37px;
  }

  .hero__main {
    max-width: 50%;
  }

  .hero__title {
    font-size: 44px;
    margin: 0px 0px 10px 0px;
  }

  .hero__descr {
    font-size: 16px;
    margin: 0px 0px 40px 0px;
  }

  .hero__search {
    margin: 0px 0px 40px 0px;
  }

  .hero__input {
    min-width: 80%;
  }

  .suggestions-hero__title {
    margin: 0px 0px 20px 0px;
  }

  .suggestions-hero__items {
    margin: 0px -10px -10px 0px;
  }

  .suggestions-hero__item {
    font-size: 11px;
    height: 35px;
    padding: 0 10px;
    margin: 0px 10px 10px 0px;
  }

  .benefits__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  ._container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .burger {
    margin: 0px 0px 0px 15px;
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    z-index: 10;
  }

  .burger span {
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 8px;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    border-radius: 100px;
  }

  .burger span:first-child {
    left: 0;
    top: 0;
  }

  .burger span:last-child {
    left: 0;
    top: auto;
    bottom: 0;
  }

  .burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 8px;
  }

  .burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F5443B;
    z-index: 5;
    padding: 40px 10px;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .header__nav._active {
    visibility: visible;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

  .header__list {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__list li:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .header__link {
    font-size: 20px;
    color: #fff;
  }

  .header__main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0px 0px 0px 10px;
  }

  .hero__main {
    max-width: 100%;
  }

  .hero__title {
    font-size: 56px;
  }

  .hero__descr {
    font-size: 18px;
  }

  .hero__input {
    min-width: 40%;
  }

  .hero__bg {
    display: none;
  }

  .suggestions-hero__title {
    margin: 0px 0px 30px 0px;
  }

  .suggestions-hero__items {
    margin: 0px -20px -20px 0px;
  }

  .suggestions-hero__item {
    font-size: 14px;
    height: 37px;
    padding: 0 18px;
    margin: 0 20px 20px 0;
  }

  .benefits__container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .benefits__title {
    font-size: 20px;
  }

  .benefits__descr {
    font-size: 14px;
  }

  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 479.98px) {
  .header__btn {
    padding: 0 22px;
  }

  .hero__title {
    font-size: 33px;
  }

  .hero__descr {
    font-size: 16px;
    margin: 0px 0px 20px 0px;
  }

  .hero__search {
    height: 60px;
    padding: 10px;
    margin: 0px 0px 30px 0px;
  }

  .hero__item {
    font-size: 12px;
    height: 35px;
  }

  .hero__input {
    min-width: 70%;
    padding: 0px 0px 0px 10px;
    font-size: 14px;
  }

  .hero__btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 40px;
    margin: 0px 0px 0px 10px;
  }

  .hero__btn svg {
    width: 20px;
    height: 20px;
  }

  .suggestions-hero__title {
    margin: 0px 0px 20px 0px;
  }

  .suggestions-hero__items {
    margin: 0px -10px -10px 0px;
  }

  .suggestions-hero__item {
    font-size: 11px;
    height: 35px;
    padding: 0 10px;
    margin: 0px 10px 10px 0px;
  }

  .benefits__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55px;
            flex: 0 0 55px;
    height: 55px;
  }

  .benefits__text {
    margin: 14px 0px 0px 8px;
  }

  .benefits__title {
    font-size: 18px;
    margin: 0px 0px 15px 0px;
  }

  .benefits__descr {
    font-size: 12px;
  }
}

@media (max-width: 991.98px) and (min-width: 767.98px) {
  .benefits__item:last-child {
    grid-column: span 2;
  }

  .benefits__item:last-child .benefits__title {
    font-size: 20px;
  }

  .benefits__item:last-child .benefits__descr {
    font-size: 16px;
  }
}

@media (any-hover: hover) {
  .select__label:hover {
    color: #F5443B;
  }

  .header__link:hover {
    color: #fff;
  }

  .header__btn:hover {
    background: #d8150b;
  }

  .hero__item:hover {
    background: #22244a;
  }

  .hero__btn:hover {
    background: #303468;
  }

  .hero__btn:hover svg {
    stroke: #D1D1D7;
  }

  .suggestions-hero__item:hover {
    background: #1F2143;
  }
}